<%- include('../header') %>
<form method="POST" action="/categorias/editar/<%= categoria.id %>">
  <div class="form-group">
    <label for="categoria">Editar Categoria</label>
    <input placeholder="Digite o nome da categoria" type="text" class="form-control" id="categoria" name="categoria" value="<% categoria.categoria %>">
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<%- include('../footer') %>