<%- include('../header') %>
<form method="POST" action="/categorias/nova">
  <div class="form-group">
    <label for="categoria">Nome da categoria</label>
    <input type="text" class="form-control" name="categoria" placeholder="Digite o nome da categoria">
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<%- include('../footer') %>